{% extends "auctions/layout.html" %}

{% block body %}
    <h3 class="container-fluid">{{ category }}</h3>

    {% for detail in details %}
    <div class="row">
        <div class="col-md-2">
        <img style="height:200px" src="{{ detail.image_link }}">
        </div>
        <div>
        <br>
        <h3><a href="{% url 'listing' detail.id %}">{{ detail.title }}</a></h3>
        <p>Description: {{ detail.description }}</p>
        <p>Starting Bid: INR {{ detail.start_bid }}</p>
        <p style="font-style:italic">Open the listing to see the bidding details</p>
    </div>
    </div>
    <hr>
    {% endfor %}
{% endblock %}