{% extends "auctions/layout.html" %}

{% block body %}
	<form action="{% url 'create' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control"  type="text" name="title" placeholder="Title">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="description" placeholder="Description">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="start_bid" placeholder="Starting Bid">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="image_link" placeholder="Image Link">
        </div>
        <div class="form-group">
            <select class="form-control" name="category">
                <option value="Fashion">Fashion</option>
                <option value="Electronics">Electronics</option>
                <option value="Phones and Tablets">Phones and Tablets</option>
                <option value="Home accessories">Home accessories</option>
            </select>
        </div>
        <input class="btn btn-primary btn-block" type="submit" value="Create Bid">
    </form>
{% endblock %}