{% extends "auctions/layout.html" %}

{% block body %}

    {% if message %}
    <h3 class="container-fluid">{{ message }}<h3>
    {% endif %}


    {% for item in items %}
    <div class="row">
        <div class="col-md-2">
        <img style="height:200px" src="{{ item.image_link }}">
        </div>
        <div>
        <br>
        <h3><a href="{% url 'listing' item.id %}">{{ item.title }}</a></h3>
        <p>Description: {{ item.description }}</p>
        <p>Starting Bid: INR {{ item.start_bid }}</p>
        <p style="font-style:italic">Open the listing to see the bidding details</p>
    </div>
    </div>
    <hr>
    {% endfor %}
    
{% endblock %}